* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #000000;
    color: #e5e5e5;
}

#title {
    color: #dddbcb;
    background-color: #008080;
    font-size: 30px;
}

#description {
    color: #0047ab;
    font-size: 25px;
}

.heading {
    color: #b1ddf1;
    font-size: 23px;
}

#title, 
.center {
    text-align: center;
}

.img {
    height: 250px;
    width: auto;
}

.heading2 {
    color: #ffecd1;
    font-size: 21px;
}